<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :title, class: "right inline", title: "Full post title", data: {tooltip: true } %><br>
    </div>

    <div class="small-9 columns">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :body, class: "right inline", title: "Full text of the post", data: {tooltip: true } %><br>
    </div>

    <div class="small-9 columns">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
