<article>
<h1><%= @post.title %></h1>

<p id="author">
  <b>By:</b>
  <%= @post.author.email %>
</p>

<div id="post_body">
  <%= @post.body %>
</div>
<hr>
<% if policy(@post).update? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
</article>
<div class="comment_form">
  <%= form_for(Comment.new) do |f| %>
    <div class="field">
      <%= f.label :author, "Your name" %>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :author_email, "Your email" %>
      <%= f.text_field :author_email %>
    </div>
    <div class="field">
      <%= f.label :author_url, "Your URL" %>
      <%= f.text_field :author_url %>
    </div>
    <div class="field">
      <%= f.label :content, "Your Comment" %>
      <%= f.text_field :content %>
    </div>
    <%= f.hidden_field :referrer, value: request.referrer %>
    <%= f.hidden_field :post_id,  value: @post.id %>
    <div class="actions">
      <%= f.submit "Submit comment for approval" %>
    <div>
  <% end %>
</div><!-- .comment_form -->
<p class="back_link"><%= link_to 'Back to the blog', posts_path %></p>
